/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8; /* Light gray background */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: linear-gradient(to right, #536976, #292E49); /* Gradient background */
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-family: 'Arial Black', sans-serif; /* Stylish font */
}

.tagline {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-style: italic;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 60px 0;
    text-align: center;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    font-family: 'Arial Black', sans-serif; /* Stylish font */
}

section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

section ul {
    list-style-type: none;
}

section ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

footer {
    background: linear-gradient(to right, #292E49)
}